@mixin bg-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
@mixin btn-base {
  letter-spacing: 1px;
  font-weight: 500;
  padding: .5rem 1rem;
  transition: .7s all ease-out;
  min-width: 150px;
  max-width: 100%;
}
