{% load static %}

<div class="row align-items-center" id="topo" data-section="topo-dashboard">
    <div class="col-4 d-flex d-lg-none order-0 py-2" id="">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" onclick="dropMenuMB($(this))" height="25" viewBox="0 0 448 392"><path d="M16,132H432a16,16,0,0,0,16-16V76a16,16,0,0,0-16-16H16A16,16,0,0,0,0,76v40A16,16,0,0,0,16,132Zm0,160H432a16,16,0,0,0,16-16V236a16,16,0,0,0-16-16H16A16,16,0,0,0,0,236v40A16,16,0,0,0,16,292Zm0,160H432a16,16,0,0,0,16-16V396a16,16,0,0,0-16-16H16A16,16,0,0,0,0,396v40A16,16,0,0,0,16,452Z" transform="translate(0 -60)" fill="#fff"/></svg>
    </div>
    <div class="col-12 col-lg-5 order-2 order-lg-0 pt-3 pt-lg-0">
        <form method="GET" action="">
            <div class="input-group mb-0">
                {{filtro}}
                {% comment %} <input type="text" class="form-control" placeholder="Pesquisar"> {% endcomment %}
                <div class="input-group-append">
                  <button class="btn" type="submit" style="min-width: auto;">
                    <i class="fa fa-search text-white"></i>
                  </button>
                </div>
              </div>
        </form>
    </div>
    <div class="col-8 col-lg-3 offset-lg-4 align-items-center d-flex justify-content-end py-2 py-lg-3 order-1" id="infoUser">
        <div class="dropdown show">
            <a class="btn dropdown-toggle py-0 text-white" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'img/img-user.png' %}" class="img-fluid pr-3" alt="Imagem do usuário Logado">
                {% if user.is_authenticated %}
                  <span>{{ user.get_username }}</span>
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownUser">
              <a class="dropdown-item" href="#">Meus dados pessoais</a>
              <a class="dropdown-item" href="{% url 'deslogar' %}">Sair</a>
            </div>
          </div>
    </div>
</div>