[data-section="topo-dashboard"] {
    @media (min-width: 991px) {
        border-bottom: 1px solid rgba(202, 203, 227, .3);
    }
    @media (max-width: 991px) {
        #infoUser,
        .col-4 {
            border-bottom: 1px solid rgba(202, 203, 227, .3);
            height: 55px;
        }
    }

    form {
        input::placeholder {
            color: #fff;
        }
        input,
        input:focus {
            border: none;
            background-color: rgba(255, 255, 255, .4) !important;
            color: #fff !important;
        }
        .input-group-append {
            position: relative;
            right: 1px;
            button {
                background-color: rgba(255, 255, 255, .4);
            }
        }
    }
    #infoUser {
        border-left: 1px solid rgba(202, 203, 227, .3);
        .dropdown-menu {
            &.show {
                top: 10px;
                left: -30px;
            }
        }
    }

}