{% extends 'base.html' %}
{% block titlePage %} Deletar Aluno {% endblock %}
{% block content %}

{% if request.user.is_staff %}
    <div class="container-fluid">
        <div class="row">
            {% include 'partials/menu-lateral-dash/menu-lateral.html' %}
            <div class="col-12 col-lg-10" id="content-dashboard">
                {% include 'partials/menu-topo-dash/topo.html' %}
                <form method="post">
                    <!-- {% csrf_token %} -->
                    <h4>Tem certeza que deseja excluir o aluno "{{ aluno.nome }}"?</h4>
                    <br/>
                <button type="submit" class="btn btn-primary">
                    Remover
                </button>
                </form>
            </div>
        </div>
    </div>
{% endif %} 

{% endblock content %}