{% extends 'base.html' %}
{% load static %}
{% block titlePage %} Listar Alunos {% endblock %}
{% block content %}

{% if request.user.is_staff %}
<div class="container-fluid">
    <div class="row">
        {% include 'partials/menu-lateral-dash/menu-lateral.html' %}
        <div class="col-12 col-lg-10" id="content-dashboard">
            {% include 'partials/menu-topo-dash/topo.html' %}
            <section class="container-fluid">
                <div class="row">
                    <div class="col-12 text-white" id="sectionTitlePage">
                        <h1 class="mb-3 mb-lg-4">Lista de alunos</h1>
                        <ul class="list-group list-group-horizontal text-white bg-transparent">
                            <li class="list-group-item border-0 p-0"><a href="{% url 'index' %}"><i class="fas fa-home pr-3"></i> Dashboard</a></li>
                            <li class="list-group-item border-0 p-0"> Lista de alunos</li>
                        </ul>
                    </div>
                    <div class="col-12" data-section="atalhos" id="">
                        <div class="row px-0 pt-5">
                            <div class="col-12 col-md-6 col-lg-10 mb-4">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="title d-flex align-items-center">
                                            <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                            <h2 class="mb-0 h4">Todos os Alunos</h2>
                                        </div>
                                        <a href="{% url 'cadastrar_aluno' %}" class="btn btn-base-yellow">Adicionar Aluno</a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-8">
                                                <form method="get" action="">
                                                    <div class="input-group mb-0">
                                                        <input type="text" class="form-control" placeholder="Pesquisar">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                style="min-width: auto;">
                                                                Filtrar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-4">
                                                <div class="paginacao">
                                                    <span class="step-links d-flex align-items-center">
                                                        {% if paginacao.has_previous %}
                                                            <a class="btn btn-secondary" href="?page={{ paginacao.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                                                        {% endif %}
                                                    
                                                        <span class="current">
                                                            {{ paginacao.number }} de {{ paginacao.paginator.num_pages }}
                                                        </span>
                                                    
                                                        {% if posts.has_next %}
                                                            <a class="btn btn-secondary" href="?{{ paginacao.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row px-0 pt-3" id="listAlunos" data-section="listAlunos">
                                            <div class="col-12 py-3" id="listAlunosTopo">
                                                <div class="row">
                                                    <div class="col-12 col-lg-5">
                                                        <h3 class="h6 mb-0">Nome</h3>
                                                    </div>
                                                    <div class="col-12 col-lg-2">
                                                        <h3 class="h6 mb-0">CPF</h3>
                                                    </div>
                                                    <div class="col-12 col-lg-2">
                                                        <h3 class="h6 mb-0">Objetivo</h3>
                                                    </div>
                                                    <div class="col-12 col-lg-3">
                                                        <h3 class="h6 mb-0">Ações</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                {% for aluno in lista %}
                                                <div class="row align-items-center border py-2 mb-2" id="listAlunosItem">
                                                    <div class="col-12 col-lg-5">
                                                        <p class="mb-0" id="nomeUser">{{ aluno.nome }}</p>
                                                    </div>
                                                    <div class="col-12 col-lg-2">
                                                        <p class="mb-0">{{ aluno.cpf }}</p>
                                                    </div>
                                                    <div class="col-12 col-lg-2">
                                                        <p class="mb-0">{{ aluno.dataNascimento }}</p>
                                                    </div>
                                                    <div class="col-12 col-lg-3">
                                                        <a class="btn btn-sm btn-base-purple-light mr-3" style="min-width: auto;" href="{% url 'editar_aluno' pk=aluno.pk %}">
                                                            <i class="material-icons">Ver detalhes</i>
                                                        </a>
                                                        <a class="btn btn-sm btn-outline-danger" href="{% url 'remover_aluno' pk=aluno.pk %}" style="min-width: auto;">
                                                            <input type="hidden" value="{{ aluno.nome }}">
                                                            <input type="hidden" id="actionUser" value="{{ aluno.pk }}">
                                                            <i class="material-icons">Excluir</i>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- 
<form method="get">
    {% csrf_token %}
    <h4>Tem certeza que deseja excluir o aluno?</h4>
    <input type="hidden" name="">
</form>
{% endif %}

{% block scripts %}
<script>
    function deleteUser(e) {
        let user = $(e).find('input').val();
        let action = $(e).find('#actionUser').val();
        Swal.fire({
            title: `Tem certeza que deseja excluir o usuário ${user}?`,
            text: "Você não poderá voltar atrás depois disso",
            icon: 'warning',
            html: '',
            showCancelButton: true,
            confirmButtonColor: '#2E3192',
            cancelButtonColor: '#d33',
            confirmButtonText: `
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Remover</button>
                </form>`,
            cancelButtonText: 'Cancelar',
            showClass: {
                popup: 'animated fadeInDown faster'
            },
            hideClass: {
                popup: 'animated fadeOutUp faster'
            },
            })
            .then((result) => {
                $('form').find('input').attr('name', action );
                $('form').submit();
                Swal.fire(
                    'Excluído!',
                    'success'
                    )
                debugger;
            })
            debugger;
    }
</script>
{% endblock %} -->

{% endblock content %}