{% extends 'base.html' %}
{% load static %}
{% load add_class %}
{% block titlePage %} Detalhes do Aluno {% endblock %}
{% block content %}

{% if request.user.is_staff %}
    <div class="container-fluid">
        <div class="row">
            {% include 'partials/menu-lateral-dash/menu-lateral.html' %}
            <div class="col-12 col-lg-10" id="content-dashboard">
                {% include 'partials/menu-topo-dash/topo.html' %}
                <section class="container-fluid px-0 px-sm-2">
                    <div class="row">
                        <div class="col-12 text-white d-none" id="sectionTitlePage">
                            <h1 class="mb-3 mb-lg-4">Detalhes do Aluno</h1>
                            <ul class="list-group list-group-horizontal text-white bg-transparent">
                                <li class="list-group-item border-0 p-0"><a href="{% url 'index' %}"><i class="fas fa-home pr-3"></i> Dashboard</a></li>
                                <li class="list-group-item border-0 p-0"><a href="{% url 'aluno_list' %}">Lista de alunos</a></li>
                                <li class="list-group-item border-0 p-0">Detalhes do {{ aluno.nome }}</li>
                            </ul>
                        </div>
                        <div class="col-12 pt-3 pt-md-5" id="sectionDadosAluno">
                            <div class="row px-0 align-items-center flex-wrap">
                                <div class="col-md-8 col-lg-9 d-flex align-items-center">
                                    <img src="{% static 'img/img-aluno.svg' %}" alt="Foto do {{ aluno.nome }}" title="Foto do {{ aluno.nome }}">
                                    <div class="d-flex flex-column pl-3 pl-md-4">
                                        <h2 class="mb-2 mb-md-3 text-white h4">{{ aluno.nome }} </h2>
                                        <ul class="list-group list-group-horizontal text-white d-block font-italic">
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">{{aluno.idade}} anos</li>
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">1,87 de altura</li>
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">Iniciante</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 pt-3 pt-md-0 d-flex justify-content-md-end">
                                     <a href="{% url 'cadastrar_avaliacao_fisica' %}" class="btn btn-base-yellow">Adicionar avaliação</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" data-section="atalhos">
                            <div class="row px-0 pt-4">
                                <div class="col-md-6 col-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                        <h2 class="mb-3 h5 text-blue">Selecione o músculo</h2>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            {{relatorio}}
                                            <button type="submit" class="btn btn-base-purple-light mt-3">Filtrar</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-8 mb-4">
                                    <div class="card">
                                        <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="title d-flex align-items-center">
                                                <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                                <h2 class="mb-0 h4">Medidas do músculo</h2>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="bar-chart-grouped"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endif %} 
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/libs/charts.min.js' %}"></script>
<script>
    $(document).ready(() => {
        let campos = [{% for dic in dados  %} {% for item in dic  %} {{item|stringformat:'f'}}, {% endfor %} {% endfor %}]
        let datas = [{%for item in entrys%}{{item.medida_peso|stringformat:'f'}},{% endfor %}];
        new Chart(document.getElementById("bar-chart-grouped"), {
            type: 'bar',
            data: {
                labels: [{% for item in entrys  %} '{{item.get_created}}', {% endfor %}],
                datasets: [
                    {
                        label: "Direito",
                        backgroundColor: "#2e3192",
                        data: campos
                    }, 
                    {
                        label: "Esquerdo",
                        backgroundColor: "#F0B413",
                        data: datas
                    }
                ]
            }
        });
    })
</script>
{% endblock scripts %}