
@import "mixins/custom-mixins";
@import "utilities/_configs";
@import 'partials/topo';

.btn {
    @include btn-base;
    &.btn-base-blue {
        background-color: $color-blue;
        color: $color-white;
        border-color: $color-blue;
        &:hover {
            background-color: $color-blue;
            box-shadow: 0px 3px 15px 3px rgba(45,49,146,.45);
            color: $color-white;
            border-color: $color-blue; 
        }
    }
    &.btn-base-blue-outline {
        background-color: $color-white;
        color: $color-blue;
        border-color: $color-blue;
        border-width: 2px;
        &:hover {
            background-color: $color-blue;
            color: $color-white;
            border-color: $color-blue; 
        }
    }   
}

#pageLogin {
    @include bg-image;
    background-image: url(../img/bg-login.png);
}

#criar-conta {
    @include bg-image;
    background-image: url(../img/bg-crie-sua-conta.png);
}

#esqueci-minha-senha {
    @include bg-image;
    background-image: url(../img/bg-recupere-sua-senha.png);

}

#mosaic {
    z-index: 1;
    position: relative;
    h1 {
        color: $color-blue;
    }
    form {
        label {
            font-weight: 500;
            letter-spacing: .2;
            color: $color-blue;
        }
    }
    p {
        &.subtitle {
            color: $color-grey;
            letter-spacing: .2px;
            font-size: 1.25rem;
                @media(max-width: 650px) {
                    font-size: 1rem;
                }
        }
    }
}

#content-dashboard {
    background: linear-gradient(to bottom, #2e3192 350px, #fff 0);
    background: -moz-linear-gradient(to bottom, #2e3192 350px, #fff 0);
    background: -webkit-linear-gradient(to bottom, #2e3192 350px, #fff 0);
    min-height: 100vh;
}

#sectionTitlePage {
    padding-top: 2rem;
    h1 {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: .5px;
    }
    ul {
        flex-direction: row;
        li {
            font-style: italic;
            background-color: transparent;
            position: relative;
            a, a:hover {
                color: #fff;
            }
            &:not(:first-child) {
                padding-left: 2.5rem !important;
                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    left: 15px;
                }
            }
            &::before {
                content: "/";
                position: absolute;
                top: 0;
                left: 25px;
            }
        }
    }
}

#menuLat {
    min-height: 100vh;
    box-shadow: 3px 0 70px 0px rgba(0,0,0,.16);
    z-index: 1;
    transition: .7s all ease-out;
    background-color: #fff;

    @media (max-width: 991px) {
        position: fixed;
        left: 0;
        z-index: -1;
        opacity: 0;
        display: block;
        &.drop {
            opacity: 1;
            z-index: 5;
            transition: 1s all ease-out;
        }
    }
    nav {
        flex-direction: column;
        .collapse {
            display: flex;
            flex-direction: column;
            width: 100%;
            ul {
                width: 100%;
            }
        }
    }
}

[data-section="insights"],
[data-section="atalhos"] {
    .card {
        border: none;
        box-shadow: 0px 3px 13px 3px rgba(0,0,0,.25);
        h5 {
            font-size: 2.7rem;
            @media (max-width: 768px) {
                font-size: 2rem;
            }
        }
        .card-header {
            border-bottom: 1px solid rgba(202, 203, 227, 1);
            background-color: #fff;
        }
        p.percent {
            font-size: 1rem;
            letter-spacing: 1px;
            color: #40BB3E;
            font-weight: 600;
            &.down {
                color: #F12B2C;
            }
        }
        .card-footer {
            p {
                color: #fff;
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 1.225rem;
            }
        }

        &:first-child {
            .card-footer {
                background-color: rgba(46, 49, 146, .6);
            }
        }
    }
}


[data-section="atalhos"] {

}