{% load static %}
        <div class="col-2 d-flex flex-column justify-content-between" style="height:100vh">
            <nav class="py-3">
                <a href="/dashboard"> <img src="{% static 'img/logotipo-cia-life.svg' %}" style="max-width: 60px" alt="Logotipo Cia Life" class="mx-auto d-flex img-fluid"> </a>
                <ul class="list-group list-group-flush pt-3">
                    <li class="list-group-item">
                        <a href="{% url 'index' %}" class="btn btn-base-blue d-flex">Dashboard <i> </i> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'aluno_list' %}" class="">Alunos <i> </i> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'cadastrar_aluno' %}" class="">Cadastrar Alunos <i> </i> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="">Dados Pessoais <i> </i> </a>
                    </li>
                </ul>
        </nav>
            <div class="d-flex justify-content-center pb-3">
                <a class="text-center text-danger" href="{% url 'deslogar' %}"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.193" height="27.766" viewBox="0 0 20.193 27.766"><path d="M7.786,29.766H10.31V27.241H7.786Zm5.048,0h2.524V27.241H12.834ZM15.359,2H12.834V14.621h2.524Zm4.493,3.079-1.83,1.83A7.556,7.556,0,1,1,10.159,6.9L8.342,5.079a10.1,10.1,0,1,0,11.51,0ZM17.883,29.766h2.524V27.241H17.883Z" transform="translate(-4 -2)" fill="#f12b2c"/></svg>
                </a>
            </div>
        </div>