{% extends 'base.html' %}
{% load static %}
{% load filter_date %}
{% block titlePage %}
Dashboard Admin
{%endblock%}

{% block content %}
    {% if request.user.is_authenticated %}
<div class="container-fluid pageDashboard">
    <div class="row">
        {% include 'partials/menu-lateral-dash/menu-lateral.html' %}
        <div class="col-12 col-lg-10" id="content-dashboard">
            {% include 'partials/menu-topo-dash/topo.html' %}
            <section class="container-fluid px-0 px-sm-2">
                <div class="row">
                    <div class="col-12 text-white" id="sectionTitlePage">
                        <h1 class="mb-3 mb-lg-4">Dashboard</h1>
                        <ul class="list-group list-group-horizontal text-white bg-transparent">
                            <li class="list-group-item border-0 p-0"><i class="fas fa-home pr-3"></i> Dashboard</li>
                        </ul>
                    </div>
                    <div class="col-12" data-section="insights" id="cards">
                        {% include 'partials/admin/insights.html' %}
                    </div>
                    <div class="col-12">
                        <div class="row px-0 pt-4 pt-lg-5">
                            <div class="col-12 col-md-6">
                                <div class="card bg-shadow">
                                    <div class="card-body py-4 px-3"> 
                                        <div class="d-flex align-items-center mb-3">
                                            <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                            <h2 class="mb-0 h5">Cadastro dos alunos</h2>
                                        </div>
                                        <canvas id="chartAluno"></canvas> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card bg-shadow">
                                    <div class="card-body py-4 px-3"> 
                                        <div class="d-flex align-items-center mb-3">
                                            <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                            <h2 class="mb-0 h5">Avaliações</h2>
                                        </div>
                                        <canvas id="chartAvaliacao"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 d-none">
                                <div class="card bg-shadow">
                                    <div class="card-header d-flex align-items-center">
                                        <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                        <h2 class="mb-0 h5">Alunos sem avaliação</h2>
                                    </div>
                                    <div class="card-body py-4"> 
                                        <canvas id="chartAvaliacaoSemAluno"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-section="atalhos" id="">
                        <div class="row px-0 pt-4 pt-lg-5">
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <div class="card-body py-4 px-3">
                                        <div class="d-flex align-items-center mb-3 mb-lg-4">
                                            <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                            <h2 class="mb-0 h5">Alunos</h2>
                                        </div>
                                        <p class="mb-3 mb-lg-4">Visualize, adicione, edite, exclua ou acompanhe a evolução física dos alunos dentro do sistema.</p>
                                        <a href="{% url 'aluno_list' %}" class="btn btn-base-blue">Ver alunos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/libs/charts.min.js' %}"></script>
<script src="{% static 'js/admin/chartsInsights.js' %}"></script>
<script>
$(document).ready(() => {
    // Cria o charts de alunos
    
    new Chart(document.getElementById("chartAluno"), {
    type: 'line',
    data: {
      labels: [{% for item in charts_aluno %} "{{item.created_at__date|filter_date}}",{% endfor %}],
      datasets: [{ 
            data: [{% for item in charts_aluno %} {{item.count}}, {% endfor %}],
            label: "Cadastro de aluno",
            borderColor: "rgba(46, 49, 146, .6)",
            backgroundColor: 'rgba(46, 49, 146, .1)',
            pointBackgroundColor: 'rgba(240, 180, 19, 1)',
            pointBorderColor: 'rgba(240, 180, 19, 1)',
        }]},
        options: {
        	responsive: true,
                scaleStartValue: 0,
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: "rgba(65, 104, 136, 0.4)",
                            borderDash: [5, 5],
                        }
                    }],
                    yAxes: [{
                    gridLines: {
                        color: "rgba(65, 104, 136, 0.2)",
                        drawBorder: false,
                    },
                    ticks: {
                        stepSize: 1,
                        fontColor: "rgba(65, 104, 136, 1)",
                        fontSize: "12", 
                        },
                    }]
                }
            }
    });
    // Cria o charts de Avaliações
    new Chart(document.getElementById("chartAvaliacao"), {
        type: 'line',
        data: {
        labels: [{% for item in charts_avaliacao %} '{{item.created_at__date|filter_date}}', {% endfor %}],
        datasets: [{ 
            data: [{% for item in charts_avaliacao %} {{item.count}}, {% endfor %}],
            label: "Avaliações Cadastradas",
            borderColor: "rgba(46, 49, 146, .6)",
            backgroundColor: 'rgba(46, 49, 146, .1)',
            pointBackgroundColor: 'rgba(240, 180, 19, 1)',
            pointBorderColor: 'rgba(240, 180, 19, 1)',
            },
        ]},
        options: {
        	responsive: true,
                scaleStartValue: 0,
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: "rgba(65, 104, 136, 0.4)",
                            borderDash: [5, 5],
                        }
                    }],
                    yAxes: [{
                    gridLines: {
                        color: "rgba(65, 104, 136, 0.2)",
                        drawBorder: false,
                    },
                    ticks: {
                        stepSize: 1,
                        fontColor: "rgba(65, 104, 136, 1)",
                        fontSize: "12", 
                        },
                    }]
                }
            }
    });
})
</script>
{% endblock scripts %}